$primary-color-blue: hsl(236, 21%, 26%);
$primary-color-red: hsl(345, 95%, 68%);
$neutral-color-white: hsl(0, 0%, 100%);
$neutral-color-dark-desaturated-blue: hsl(236, 21%, 26%);
$neutral-color-very-dark-blue: hsl(235, 16%, 14%);
$neutral-color-very-dark-mostly-black-blue: hsl(234, 17%, 12%);
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
$global-font: "Red Hat Text", sans-serif;
